{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue {{ username }}
{% endblock title%}

{% block body %}
    {% include 'Widget/header.html.twig' %}
    <p>Vous etes sur la page d'acceuil</p>
{% endblock body%}



