{% extends 'Layout/base.html.twig' %}

{% block body %}

    <form>
        <label for="mail">Nom d'utilisateur ou email</label>
        <input type="email" name="email" id="mail">
        <label for="UserPassword">Mot de passe</label>
        <input type="password" name="password" id="UserPassword">
        <input type="submit">
    </form>

{% endblock body %}