<td>
    <a class="button edit" href="{{ path('app_user_update', {'id': user.id}) }}">Modifier</a>
    <a class="button delete" href="{{ path('app_user_remove', {'id': user.id}) }}">Supprimer</a>
</td>