{% extends 'Layout/base.html.twig' %}

{% block body %}
    {% include 'Widget/header.html.twig' %}
    <div class="manage">
        <a class="button" href="{{ path('app_category_create') }}">Créer</a>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Nom de la catégorie</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        {% include 'Widget/Category/actions.html.twig' with {'category': category} %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="no-data">Aucune playlist disponible</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

