{% extends 'Layout/base.html.twig' %}

{% block body %}
    {% include 'Widget/REPLACEME.html.twig' %}

    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button>Update</button>
    {{ form_end(form) }}
{% endblock %}

