<td>
    <a class="button edit" href="{{ path('app_category_update', {'id': category.id}) }}">Modifier</a>
    <a class="button delete" href="{{ path('app_category_remove', {'id': category.id}) }}">Supprimer</a>
</td>