{% extends 'Layout/base.html.twig' %}

{% block title %}Reset Password{% endblock title %}

{% block body %}

    <h1>Demande de réinitialisation du mot de passe</h1>

    {{ form_start(requestPassForm) }}
    {{ form_row(requestPassForm.email) }}
    {{ form_row(requestPassForm._submit) }}
    {{ form_end(requestPassForm) }}

{% endblock body %}
