<td>
    <a class="button delete" href="{{ path('app_playlist_remove', { id: playlist.id }) }}">Supprimer</a>
    <a class="button edit" href="{{ path('app_playlist_update', { id: playlist.id }) }}">Modifier</a>
</td>