{% extends 'Layout/base.html.twig' %}

{% block body %}
    {% include 'Widget/header.html.twig' %}
    <h1>Ajouter un film à une playlist</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}
