{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="color: red">Ceci est une page temporaire !! A changer !</h1>

    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button>Valider</button>
    {{ form_end(form) }}
{% endblock body %}
